
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F5EB;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.HemogestorTitulo{
    background-color: #EA5455;
    color: #E4DCCF;
    display: flex; 
    align-items: center;
}

.HemogestorTitulo .material-symbols-outlined{
    color: #E4DCCF;
    margin-left: 10px;
    font-size: 32px;
}

.HemogestorTitulo h1 {
    margin-left: 10px;
}
  
.HemogestorTitulo ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.HemogestorTitulo li {
    display:inline;
    margin: 0 20px;
    padding: 10px 20px;
}

.HemogestorTitulo a{
    color: #E4DCCF;
    text-decoration: none;
}

.menu-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 60px 50px;
}

.card1 {
    width: 200px;
    height: 250px;
    margin-left: 200px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    transform: rotate(-10deg)
}

.card {
    width: 200px;
    height: 250px;
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    transform: rotate(10deg)
}

.card img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card1 img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.texto {
    font-size: 30px;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-20%, -20%);
    -webkit-text-stroke: 1px #000000;
    color: #EA5455;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #EA5455;
    padding: 20px 0;
    text-align: center;
}

.redes-sociais {
    margin-top: 20px;
}

.redes-sociais a {
    display: inline-block;
    margin: 10px 10px;
    text-decoration: none;
    color: #fff;
}

.redes-sociais img {
    width: 40px;
    height: 40px;
}