/* Paleta de cores
#F9F5EB - Branco
#E4DCCF - Cinza
#EA5455 - Vermelho
#002B5B - Azul
#C4BBAD - Cinza escuro
#D74444 - Vermelho escuro
#D13D3D - Vermelho mais escuro


Ícones
<span class="material-symbols-outlined">
    bloodtype, health_metrics, blood_pressure, hematology
    </span>
*/
*{
    font-family: 'Roboto', sans-serif;
}
html{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}
h2{
    text-align: center;
    color: #002B5B;
}
.HemogestorBarraSuperior{
    background-color: #EA5455;
    display: flex;;
    height: 50px;
    width: 100%;
}
.HemogestorBarraSuperior div{
    position: fixed;
    z-index: 1;
    padding: 15px;
}
.HemogestorBarraSuperior .material-symbols-outlined{
    color: #E4DCCF;
    font-size: 32px;
    right: 5px;
    top: 7px;
}
.HemogestorBarraSuperior h1{
    font-size: 32px;
    color: #E4DCCF;
    position: absolute;
    left: 50px;
    top: -1px;
}
.HemogestorBarraSuperior ul{
    position: relative;
    left: 160px;
}
.HemogestorBarraSuperior li{
    display: inline;
    color: #E4DCCF;
    padding: 20px;
}
.HemogestorBarraSuperior a{
    color: #E4DCCF;
    text-decoration: none;
    transition: color 0.3s;
}
.HemogestorBarraSuperior a:hover {
    color: #002B5B;
}
.HemogestorBarraSuperior span{
    position: relative;
    top: 10px;
}
.Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #EA5455;
    text-align: center;
}

.Menu li {
    display: inline;
}

.Menu li a {
    display: block;
    color: #002B5B;
    text-align: center;
    padding: 56px 64px;
    text-decoration: none;
    font-size: larger;
}

.Menu li a:hover {
    background-color: #C4BBAD;
}
.Menu {
    background-color: #E4DCCF;
}
.Doadores, .Estoque{
    background: #C4BBAD;
}
.formulário{
    width: 50%;
    margin: 0 auto;
    background: #E4DCCF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.formulário h2{
    color: #002B5B;
    position: relative;
    top: -32px;
}
.formulário label{
    color: #002B5B;
}
.formulário2{
    position: relative;
    top: -40px;
}
.formulário2 form{
    margin: 20px 0;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="number"]{
    width: 99%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"], button {
    background-color: #EA5455;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
label[for="feminino"], label[for="masculino"]{
    display: inline-block;
    margin-right: 10px;
}
#tipoDoador, #tipoSanguineo{
    width: 102%;
    padding: 10px;
    border: 1px solid#ccc;
    border-radius: 4px;
}
label[for="autorizacaoComunicacao"]{
    display: inline-block;
    margin-right: 1px;
}
h1.menuinfo{
    font-size: 84px;
    position: absolute;
    bottom: 120px;
    color: #F9F5EB;
    left: 1%;
}
p.menuinfo{
    font-size: x-large;
    position: absolute;
    color: #F9F5EB;
    width: 800px;
    bottom: 20px;
    left: 1%;
}
body.menugabrie{
    background-image: url(./imagens/doandosangueunsplashblur.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.bonito{
    margin: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #EA5455;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.banner-container {
    width: 100%;
    overflow: hidden;
}

.banner-slide {
    display: none;
}

.banner-slide.active {
    display: block;
}

.banner-slide img {
    width: 200px;
    height: 200px;
}

button {
    margin: 10px;

}