
body {
    background-color: #E4DCCF;
    margin: 0;
    padding: 0;
}

h1 {
    font-family:'Roboto', sans-serif; ;
    font-size: 50px;
}

span {
    position:absolute;
    padding: 20px;
    top: 30px;
    right: 15px;
    color: #E4DCCF;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
}

span1 {
    position:absolute;
    padding: 20px;
    top: 30px;
    left: 15px;
    color: #E4DCCF;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
}

header {
    background-color: #ff2525;;
    padding: 5px;
}

h1 {
    color: #E4DCCF;;
    text-align:left;
    padding-left: 100px;

}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #ff2525;
    color: #ff0000;
    border: 30px;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 1s;
    margin: 60px;
    margin-left: 70vh;
    margin-right: 70vh;
}
    
.button-group {
    display: flex;
    margin: 10px; /* Espaçamento entre os grupos de botões */
}

li:hover {
    background-color: #FF0000;
    
}

a {
    font-family: Impact;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

